/* 
    Display property - change the display of the element

    inline - consuming the width of the content; examples are <img> and <span>
    block - consuming the full width of the page, thus creating line space for the next element; examples
        are <div> and text-blocks such as <h1>-<h6>, and <p> elements
    inline-block - works as inline element for its siblings but block elements outside its parent element; as long as the sibling elements are inline/inline-block, the inline-block elements will appear next to these elements
    none - hiding the element from the website and it will not be shown visually; if the element is visually removed, other elements will adjust their position

*/

#div-1 {
    background-color: green;
}

#span-1 {
    background-color: purple;
    display: none;
}

#span-2 {
    background-color: red;
    display: none;
}

#div-2 {
    background-color: pink;
    display: inline-block;
}

#img {
    width: 250px;
    height: 250px;
    display: inline-block;
}

#p-1 {
    background-color: #87cefa;
}

#p-2 {
    background-color: rgb(255, 105, 180);
    width: 60%;
}

#p-3 {
    background-color: yellow;
    width: 40%;
}

#span-sample {
    background-color: grey;
    width: 60%;
}

.sample {
    display: inline-block;
    width: 30%;
    border: 1px solid black;
}

.img-float {
    width: 250px;
    height: 250px;
    float: right;
}

.box {
    background-color: red;
    border: 1px solid black;
    margin: 5px;
}

/* percent is a relative measurement */

.fifty-percent {
    width: 50%;
}

/* pixels is an absolute measurement */
.one-hundred-pixels {
    width: 100px;
}

.parent {
    width: 135px;
    border: 2px solid navy;
    font-size: 30px;
}

/* viewport is a relative measurement */

.fifty-vw {
    width: 50vw;
}

.twenty-five-vh {
    height: 25vh;
}

/* em vs rem */

/* 
    rem - root element measurement; the measurement is relative to the root element which is the html 
        default: 16px;
    
    em - element measurement; the measurment is relative to the parent element
*/

.one-rem {
    font-size: 1rem;
}

.one-em {
    font-size: 1em;
}

.two-rem {
    font-size: 2rem;
}

.two-em {
    font-size: 2em;
}

/* 
    the % unit is also relative on the parent element
*/

.two-hundred-percent {
    font-size: 200%;
}

.background {
    min-height: 150vh;
    /* background-color: gray; */
    background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    /* specifies the size of the background image */
    background-size: 100%;
    /* specifies the position of the background image relative to the HTML element */
        /* the value of this property requires two: x and y */
    background-position: center top;
    /* background-attachment - used to set whether a background image scrolls with the rest of the page */
    background-attachment: scroll;
}

.title {
    color: white;
    text-align: center;
    font-size: 5rem;
    margin: 0;
    line-height: 35rem;
}

.container-bg {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

/* CSS POSITIONING */

/* 
    positions in CSS
        static - default position for every element; this follows the normal flow of elements
        relative - normal flow, but affected by the top, right, bottom, left measurements
        absolute - positioned relative to its parent elements; element is removed from normal document flow; the other elements will behave as if the element is not in the document; no space is created for the element
            - the element is positioned relative to its closest positioned ancestor. That means that the element has to have a position value other than position: static;

        fixed - similar to absolute in terms of being removed from the normal flow. But it is not affected by any parent element

        sticky - combination of relative and fixed. It acts like a relatively positioned element until a certain scroll point and then it acts like a fixed element
*/

.parent-element {
    background-color: skyblue;
    padding: 10px;
    position: relative;
    height: 800vh;
}

.child-one {
    background-color: gray;
    padding: 10px;
}

.child-two {
    background-color: yellow;
    padding: 10px;
    position: sticky;
    left: 10px;
    top: 10px;
}

.child-three {
    background-color: gray;
    padding: 10px;
}

html {
    height: 800vh;
}

.container {
    position: relative;
}

.black-box {
    position: relative;
    z-index: 1;
    border: 2px solid black;
    height: 100px;
    margin: 30px;
}

.gray-box {
    position: absolute;
    z-index: 3;
    background-color: lightgray;
    height: 60px;
    width: 70%;
    left: 50px;
    top: 50px;
}

.green-box {
    position: absolute;
    z-index: 2;
    background-color: lightgreen;
    width: 35%;
    left: 270px;
    top: -15px;
}



