* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/* NAV SECTION */

nav {
    padding: 30px;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}

nav ul {
    width: 70vw;
    margin: auto;
}

.nav-logo, .right-nav {
    display: inline-block;
    vertical-align: middle;
}

.right-nav {
    float: right;
}

.right-nav li {
    display: inline;
    padding: 10px;
    font-weight: bolder;
    padding: 10px;
}

.tuitt-button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: #c2195b;
    font-size: 16px;
    font-weight: bold;
}

/* LANDING PAGE */

#bg-image {
    height: 450px;
    background-size: 100%;
    background-position: center;
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
}

.front-bg {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.title, .title-2 {
    font-family: 'Zilla Slab', serif;
}

.container {
    width: 50%;
    color: white;
    text-align: right;
    position: relative;
    left: 30%;
}

.container>* {
    margin-top: 20px;
}

 .title {
    font-size: 48px;
    width: 70%;
    position: relative;
    left: 38%;
}

.subtitle {
    font-size: 24px;
    font-weight: normal;
    width: 55%;
    position: relative;
    left: 53%;
    text-align: right;
}

.apply-button {
    width: 200px;
    height: 50px;
    position: relative;
    left: 8%;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: #c2195b;
    font-size: 18px;
    font-weight: bold;
}

/* INTRO SECTION */

.intro h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}

.intro {
    margin: auto;
    padding: 100px;
}

.intro-description {
    width: 60%;
    margin-top: 100px;
    margin: auto;
    text-align: justify;
}

/* PRE-FOOTER SECTION */

.pre-footer {
    background-color: #f7fbfb;
    width: 100%;
    margin: auto;
    padding: 100px;
}

.pre-footer h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}

.prefooter-description {
    width: 61%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}

.book-button {
    width: 200px;
    height: 50px;
    margin: auto;
    display: block;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: #336589;
    font-size: 18px;
    font-weight: bold;
}

/* FOOTER */

footer {
    padding: 0.7rem;
    width: 40%;
    margin: auto;
    text-align: center;
}

footer span {
    margin: 0 15px;
}